:root {
	--basic-black: #000000;
	--basic-white: #ffffff;
	--basic-extra-white: #EEEEEE;
	--basic-grey: #666666;
	--basic-lite-grey: #D7DCDE;
	--basic-red: #FB565A;
	--basic-extra-red: #E74246;
	--basic-super-red: #D7373B;
	--basic-light-green: #00CA74;
	--basic-green: #00BC6C;
	--basic-yellow: #EFC849;
	--basic-light-yellow: #EAB534;
	--basic-strange-white: #DFDFDF;
	--basic-main-white: #D5D5D5;
	--basic-main-grey: #283136;
	--basic-networks-grey: #E1E1E1;
}

.page-body {
	min-width: 1300px;
	margin: 0;
	/* внешний отступ*/
	padding: 0;
	/* внцтреннийй отступ*/
	font-family: 'Roboto', Arial, sans-serif;
	/* шрифт*/
	font-size: 16px;
	/* размер шрифта*/
	line-height: 24px;
	/*межстрочный интервал */
	font-weight: 400;
	/* толщина шрифта*/
	color: var(--basic-main-grey);
	text-transform: none;
	/* Изменение регистра
                             capitalize - Первый символ каждого слова в предложении будет заглавным.
                                         Остальные символы свой вид не меняют.
                             lowercase - Все символы текста становятся строчными (нижний регистр).
                             uppercase - Все символы текста становятся прописными (верхний регистр).
                             none - Не меняет регистр символов.
                             inherit - Наследует значение родителя. */
	background-color: var(--basic-white);
	background-position: center;

	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}

a {
	text-decoration: none;
	color: var(--basic-black);
}

img {
	max-width: 100%;
	height: auto;
}

.main-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 1160px;
	margin: 0 auto;
	padding: 0;
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	color: var(--basic-black);
	background-color: var(--basic-extra-white);
	margin-top: 53px;
	text-transform: uppercase;
	align-items: center;
}

.site-navigation {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.navigation-link {
	padding: 0 22px;
}

.basket-navigation {
	display: flex;
	margin: 0;
	padding: 0;
}

.site-navigation a {
	display: block;
	padding: 13px 0;
}

.navigation-link:hover a,
.basket-navigation:hover {
	color: var(--basic-red);
}

.navigation-link:active a {
	color: var(--basic-black);
	border-bottom: 2px solid var(--basic-red);
	opacity: 0.3;
}

.basket-navigation:active {
	padding: 0;
	margin: 0;
	color: var(--basic-black);
	border-bottom: 2px solid var(--basic-red);
	opacity: 0.3;
}

.navigation-border {
	border-bottom: 2px solid var(--basic-red);
}

.navigation-border:hover {
	list-style: none;
}

.basket {
	padding-right: 25px;
	margin: 0;
}

.logo-img:hover {
	opacity: 0.7;
}

.main-header,
.job-img,
.page-header {
	background-color: var(--basic-extra-white);
}

.page-header h3 {
	font-size: 55px;
	line-height: 55px;
	color: var(--basic-black);
}

.page-header {
	width: 1160px;
	height: 431px;
	margin: 0 auto;
	padding: 0 0px;
	background-position: top right;
}

.site-wrapper {
	min-width: 760px;
	background-repeat: no-repeat;
}

.slider-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.slider-controls {
	margin-left: 536px;
	display: flex;
	flex-wrap: wrap;
	width: 67px;
	justify-content: space-between;
}

.slider-controls button {
	padding: 0;
	width: 17px;
	height: 17px;
	background-color: var(--basic-white);
	border: 2px solid var(--basic-white);
	border-radius: 50%;
	cursor: pointer;
}

.slider-controls .current {
	background-color: var(--basic-extra-red);
}

.slide {
	display: none;
}

.slide-current {
	display: block;
}

.site-wrapper-1 {
	background-image: url("../image/nerds-index-slide1-1.png");
	background-repeat: no-repeat;
}

.site-wrapper-2 {
	background-image: url("../image/nerds-index-slide2-1.png");
	background-repeat: no-repeat;
}

.site-wrapper-3 {
	background-image: url("../image/nerds-index-slide3-1.png");
	background-repeat: no-repeat;
}

.box-ability {
	display: grid;
	list-style: none;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 100px;
	width: 1100px;
	justify-self: center;
	margin: 0 auto;
	padding: 0;
	margin-top: 76px;
	margin-bottom: 121px;
	column-gap: 100px;
}

.box-ability h2 {
	font-size: 24px;
	line-height: 30px;
	color: var(--basic-black);
}

.inf {
	display: grid;
	grid-template-columns: 2fr 1fr;
	width: 1170px;
	justify-self: center;
	padding: 0;
	margin: 0 auto;
}

.achievements {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	list-style: none;
	padding: 0;
	margin: 0;
}

.inf h2 {
	font-size: 45px;
	line-height: 45px;
}

.opportunities {
	list-style: none;
	padding: 0;
	margin: 0 auto;
}

.opportunities li:before {
	content: "";
	width: 25px;
	height: 2px;
	background-color: var(--basic-red);
	display: inline-block;
	margin-right: 7px;
	margin-bottom: 4px;
}

.results {
	justify-self: end;
	margin: 0;
	padding: 0;
}

.main-about-us {
	margin-top: 40px;
	margin-bottom: 23px;
}

.aboutus li {
	margin-top: 46px;
}

.results p {
	font-size: 16px;
	line-height: 18px;
}

.results h3 {
	font-size: 45px;
	line-height: 64px;
	font-weight: bold;
	color: var(--basic-black);
}

.results h4 {
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	color: var(--basic-black);
}

.map {
	position: relative;
	left: 0;
	right: 0;
	width: 100%;
	height: 416;
	margin: 0 auto;
	border: none;
}

.center-map {
	display: flex;
	justify-content: center;
}

.contacts {
	position: absolute;
	margin-top: -360px;
	margin-left: 140px;
	background-color: var(--basic-white);
	width: 319px;
	height: 308px;
}

.contacts h3 {
	font-size: 18px;
	line-height: 30px;
	color: var(--basic-black);
	margin-top: 48px;
	margin-left: 50px;
}

.contacts p {
	margin-left: 50px;
}

.contacts-number {
	margin-bottom: 37px;
}

.partners {
	color: var(--basic-black);
	width: 1160px;
	margin: 0 auto;
	padding: 0;
	display: flex;
	justify-content: space-between;
	justify-self: center;
	margin-top: 73px;
	margin-bottom: 80px;
	align-items: center;
}

/* НЕ ПОЛУЧИЛОСЬ, НЕ ФОРТАНУЛО, ПАЦАН К УСПЕХУ ШЁЛ!!!!!!!!!!!!*/
.partners-link::after {
	content: "";
	display: inline-block;
	background-image: url(../image/rectangle1.png);
	margin-left: 55px;
	width: 2px;
	height: 52px;
}

/*.partners::after{
	content: "";
	width: 1160px;
	height:2px;
	background-image: url(../image/rectangle2.png);
	display: inline-block;
}*/

.contacs p {
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-grey);
}

.cellar h2 {
	font-size: 36px;
	line-height: 36px;
	color: var(--basic-black);
}

.cellar p {
	font-size: 16px;
	line-height: 22px;
}


.communication h2 {
	font-size: 45px;
	line-height: 53px;
	color: var(--basic-black);
}

.communication p {
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-black);
	font-weight: bold;
}

.communication input {
	width: 360px;
	height: 50px;
	font: inherit;
	background-color: transparent;
	border: 2px solid var(--basic-lite-grey);
	border-radius: 3px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}

.communication textarea {
	font: inherit;
	background-color: transparent;
	border: 2px solid var(--basic-lite-grey);
	border-radius: 3px;
	padding-left: 15px;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	box-sizing: border-box;
}

.communication input:focus,
textarea:focus {
	border-color: var(--basic-black);
}

button {
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	vertical-align: middle;
	color: var(--basic-white);
	text-transform: uppercase;
	background-color: var(--basic-red);
	border: none;
	border-radius: 3px;
}

button:hover,
button:focus {
	background: var(--basic-extra-red);
}

button:active {
	background: var(--basic-super-red);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	color: var(--basic-white);
	opacity: 0.3;
}

.job-btn {
	width: 240px;
	height: 50px;
	margin: 38px 0px;
	padding: 0 0;
}

.button-web {
	width: 160px;
	height: 50px;
}

.button-app {
	width: 160px;
	height: 50px;
	background: var(--basic-light-green);
}

.button-app:hover,
.button-app:focus {
	background: var(--basic-green);
}

.button-presentation {
	width: 160px;
	height: 50px;
	background: var(--basic-yellow);
}

.button-presentation:hover,
.button-presentation:focus {
	background: var(--basic-light-yellow);
}

.write-btn {
	padding: 16px 44px;
	border-radius: 3px;
	background-color: var(--basic-red);
	margin-left: 50px;
	margin-bottom: 50px;
	color: var(--basic-white);
}

.send-btn {
	width: 259px;
	height: 50px;
	margin-top: 25px;
}

.button-close {
	width: 21px;
	height: 21px;
	background: rgba(251, 86, 90, 0.3);
}

.cellar {
	display: grid;
	grid-template-columns: 1fr max-content;
	width: 1170px;
	margin-top: 68px;
	margin-bottom: 68px;
	align-items: center;
	justify-self: center;
}

.center-cellar {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 0;
	padding: 0;
	justify-self: start;
	column-gap: 9px;
}

.social-networks-vk {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	padding: 30px 30px;
	background-color: var(--basic-networks-grey);
	color: inherit;
	border-radius: 50%;
}

.social-networks-fb {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	padding: 40px 40px;
	background-color: var(--basic-networks-grey);
	color: inherit;
	border-radius: 50%;
}

.social-networks-inst {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	padding: 35px 35px;
	background-color: var(--basic-networks-grey);
	color: inherit;
	border-radius: 50%;
}

.tagline {
	justify-self: center;
	margin: 0;
	padding: 0;
	margin-right: 130px;
}

.social-networks-vk:hover,
.social-networks-fb:hover,
.social-networks-inst:hover,
.social-networks-vk:focus,
.social-networks-fb:focus,
.social-networks-inst:focus {
	background: linear-gradient(0deg, var(--basic-extra-red), var(--basic-extra-red)), var(--basic-white);
}

.social-networks-vk:active,
.social-networks-fb:active,
.social-networks-inst:active {
	background-color: var(--basic-super-red);
}

.communication form {
	display: flex;
	flex-wrap: wrap;
	width: 761px;
	justify-content: space-between;
}

.communication {
	position: fixed;
	padding-left: 100px;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	background-color: var(--basic-white);
	box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.modal-communication {
	width: 860px;
	height: 590px;
	visibility: hidden;
}

.modal-communication:target {
	visibility: visible;
}

.button-close {
	content: "";
	align-self: center;
	margin-right: 90px;
	background-image: url(../image/close.svg);
	background-color: var(--basic-white);
	opacity: 0.3;
	cursor: pointer;
}

.button-close:hover {
	content: "";
	background-image: url(../image/close.svg);
	background-color: var(--basic-white);
	opacity: 1;
}

.button-close:active {
	content: "";
	background-image: url(../image/close.svg);
	background-color: var(--basic-white);
	opacity: 0.1;
}

.communication-center {
	display: flex;
	justify-content: space-between;
}

/*КАТАЛОГ*/
.catalog-container {
	display: grid;
	width: 1160px;
	justify-self: center;
}

.center-catalog-container {
	display: grid;
	grid-template-columns: 260px 1fr;
}

.center-directory-sites {
	margin-left: 141px;
	margin-top: 0px;
}

.center-sort {
	display: grid;
	grid-template-columns: 1fr max-content min-content;
	margin-top: 55px;
	margin-bottom: 48px;
}

.sort a {
	margin-left: 10px;
}

.filter-item {
	margin: 0;
	padding: 0;
	border: none;
}

.range-filter {
	width: 260px;
	margin-top: 49px;
}

.filter-item legend {
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: 700;
	padding-top: 75px;
}

.range-controls {
	position: relative;
	height: 41px;
	margin-bottom: 15px;
	padding-top: 39px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #f1f1f1;
	border-radius: 5px;
}

.range-controls .scale {
	height: 2px;
	background: #d7dcde;
}

.range-controls .bar {
	width: 70%;
	height: 2px;
	background: #00ca74;
}

.range-controls .toggle {
	position: absolute;
	top: 31px;
	left: 0;
	width: 4px;
	height: 4px;
	padding: 0;
	border: 8px solid #ffffff;
	background-color: #ababab;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	cursor: pointer;
}

.range-controls .toggle-min {
	left: 18px;
}

.range-controls .toggle-max {
	left: 160px;
}

.price-controls {
	display: flex;
	justify-content: space-between;
}

.price-controls label {
	text-transform: uppercase;
}

.price-controls input {
	width: 60px;
	padding: 10px;
	margin-left: 10px;
	text-align: center;
	color: #283136;
	border: none;
	border-radius: 5px;
	background: #f1f1f1;
	font-family: inherit;
	font-size: inherit;
}

.net,
.features {
	margin: 0 0;
	padding: 0 0;
	border: 0px;
}

.net-radio,
.features-checkbox {
	margin: 0 0;
	padding: 0 0;
	list-style: none;
}

.radio-indentation,
.checkbox-indentation {
	margin-right: 11px;
}

.price-btn {
	width: 200px;
	height: 50px;
}

.filter-option label {
	margin-left: 40px;
	position: relative;
	display: block;
	cursor: pointer;
	user-select: none;
}

.radio-indentation+label::before {
	content: "";
	position: absolute;
	left: -34px;
	top: 0;
	width: 19px;
	height: 19px;
	border: 4px solid #4d4d4d;
	opacity: 0.4;
	border-radius: 50%;
}

/*НЕ РАБОТАЕТ АКТИВНЫЙ RADIO-BUTTON!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.radio-indentation:checked+label::after {
	content: "";
	position: absolute;
	top: 9px;
	left: -26px;
	width: 9px;
	height: 9px;
	background-image: url("../image/Oval.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.4;
}

.checkbox-indentation+label::before {
	content: "";
	position: absolute;
	left: -34px;
	top: 0;
	width: 23px;
	height: 23px;
	background-image: url("../image/nottick.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

/*НЕ РАБОТАЕТ АКТИВНЫЙ CHECKBOX!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.checkbox-indentation:checked+label::after {
	content: "";
	position: absolute;
	top: 2px;
	left: -32px;
	width: 25px;
	height: 23px;
	background-image: url("../image/1tick.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.4;
}

.net {
	margin-top: 54px;
}

.net-radio li {
	margin-top: 15px;
}

.features {
	margin-top: 43px;
}

.features-checkbox li {
	margin-top: 17px;
}

.journal {
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	color: var(--basic-black);
	text-align: center;
	margin-bottom: 108px;
}

legend {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	color: var(--basic-black);
	text-transform: uppercase;
}

.catalog-container input {
	font-size: 16px;
	line-height: 20px;
}

.choose-btn {
	width: 260px;
	height: 50px;
	font: inherit;
	color: var(--basic-black);
	background: var(--basic-extra-white);
	border-radius: 3px;
	margin-top: 48px;
}

.choose-btn:hover,
.choose-btn:focus,
.pagination-btn:hover,
.pagination-btn:focus {
	background: var(--basic-strange-white);
}

.choose-btn:active,
.pagination-btn:active {
	background: var(--basic-main-white);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	color: var(--basic-black);
	opacity: 0.3;
}

.net,
.features {
	list-style: none;
	line-height: 20px;
}

.sort-label {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

.sort {
	display: flex;
	flex-wrap: wrap;
	justify-self: end;
	align-self: center;
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-black);
	list-style: none;
}

.main-sort-link {
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.sort-link {
	border-bottom: 10px solid #000000;
	border-left: 5px solid rgba(0, 0, 0, 0);
	border-right: 5px solid rgba(0, 0, 0, 0);
	content: "";
	display: inline-block;
	height: 0;
	vertical-align: top;
	width: 0;
	transform: rotate(180deg);
	margin-right: 10px;
	margin-top: 5px;
}

.sort-link2 {
	border-bottom: 10px solid #a6a6a6;
	border-left: 5px solid rgba(0, 0, 0, 0);
	border-right: 5px solid rgba(0, 0, 0, 0);
	content: "";
	display: inline-block;
	height: 0;
	vertical-align: top;
	width: 0;
	transform: rotate(0deg);
	margin-right: 10px;
	margin-top: 5px;
}

.sort-link2:hover,
.sort-link2:focus {
	color: var(--basic-black);
}

.directory-sites {
	display: flex;
	flex-wrap: wrap;
	width: 760px;
	justify-content: space-between;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

.inf-product {
	display: none;
	background-color: var(--basic-extra-white);
	width: 360px;
	height: 231px;
	text-align: center;
	padding-top: 26px;
	position: absolute;
	margin-top: -280px;
}

.browser{
	margin-bottom: -23px;
}
.site1{
	position: relative;
}
.site1:hover .inf-product{
	display: block;
}
.site1:hover .browser1{
	opacity: 0.12;
}
.site2{
	position: relative;
}
.site2:hover .inf-product{
	display: block;
}
.site2:hover .browser2{
	opacity: 0.12;
}
.site3{
	position: relative;
}
.site3:hover .inf-product{
	display: block;
}
.site3:hover .browser3{
	opacity: 0.12;
}
.site4{
	position: relative;
}
.site4:hover .inf-product{
	display: block;
}
.site4:hover .browser4{
	opacity: 0.12;
}
.site5{
	position: relative;
}
.site5:hover .inf-product{
	display: block;
}
.site5:hover .browser5{
	opacity: 0.12;
}
.site6{
	position: relative;
}
.site6:hover .inf-product{
	display: block;
}
.site6:hover .browser6{
	opacity: 0.12;
}

.directory-sites li {
	min-width: 358px;
	min-height: 578px;
}

.name-product {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	color: var(--basic-black);
}

.description-product {
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-grey);
}

.pagination-list ul {
	list-style: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-black);
}

.page-numbers {
	display: flex;
	flex-wrap: wrap;
	grid-column: 1 / -1;
	justify-self: start;
	margin-top: 55px;
	margin-bottom: 60px;
}

.page-numbers li {
	margin-right: 10px;
	align-self: center;
}

.pagination-btn {
	width: 260px;
	height: 50px;
	color: var(--basic-black);
	background-color: var(--basic-extra-white);
}

.page {
	height: 100%;
}

.numbers-link {
	display: flex;
	flex-wrap: wrap;
	padding: 15px 20px;
	border-radius: 3px;
	background-color: var(--basic-extra-white);
}

.numbers-link:hover,
.numbers-link-next:hover {
	background: #DFDFDF;
}

.numbers-link:active,
.numbers-link-next:active {
	background: #D5D5D5;
	color: var(--basic-black);
	opacity: 0.3;
}

.number-link-now {
	padding: 15px 20px;
	border: 3px solid #DBDBDB;
	box-sizing: border-box;
	border-radius: 3px;
	;
}

.numbers-link-next {
	padding: 15px 77px;
	border-radius: 3px;
	background-color: var(--basic-extra-white);
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}
