:root {
	--basic-black: #000000;
	--basic-white: #ffffff;
	--basic-extra-white: #EEEEEE;
	--basic-grey: #666666;
	--basic-lite-grey: #D7DCDE;
	--basic-red: #FB565A;
	--basic-extra-red: #E74246;
	--basic-super-red: #D7373B;
	--basic-light-green: #00CA74;
	--basic-green: #00BC6C;
	--basic-yellow: #EFC849;
	--basic-light-yellow: #EAB534;
	--basic-strange-white:#DFDFDF;
	--basic-main-white:#D5D5D5;
	--basic-main-grey:  #283136;
	--basic-networks-grey:  #E1E1E1;


}
.page-body {
    min-width: 1440px;
	margin: 0; /* внешний отступ*/
	padding: 0; /* внцтреннийй отступ*/
	font-family: 'Roboto', Arial, sans-serif; /* шрифт*/
	font-size: 16px; /* размер шрифта*/
	line-height: 24px; /*межстрочный интервал */
	font-weight: 400; /* толщина шрифта*/
	color: var(--basic-main-grey);
	text-transform: none; /* Изменение регистра
                             capitalize - Первый символ каждого слова в предложении будет заглавным.
                                         Остальные символы свой вид не меняют.
                             lowercase - Все символы текста становятся строчными (нижний регистр).
                             uppercase - Все символы текста становятся прописными (верхний регистр).
                             none - Не меняет регистр символов.
                             inherit - Наследует значение родителя. */
	background-color: var(--basic-white);
	background-position: center;

	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}
a{
  text-decoration: none;
  color: var(--basic-black);
}
img{
	max-width: 100%;
	height: auto;
}
.main-navigation{
	display: grid;
	justify-content: stretch;
	grid-template-columns: 1fr 2fr max-content ;
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	color: var(--basic-black);
	background-color: var(--basic-extra-white);
	margin-top: 53px;
	text-transform: uppercase;
	align-items: center;
}
.site-navigation{
	width: 437px;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	width: 482px;
	margin: 0;
	padding: 0;
	min-height: 30px;
}
.navigation-link{
	padding: 0 22px;
}
.basket-navigation{
	display: flex;
	margin: 0;
	padding: 0;
}
.site-navigation a{
	display: block;
	padding: 13px 0;
}
.navigation-link:hover a,
.basket-navigation:hover{
	color: var(--basic-red);
}
.navigation-link:active a{
	color: var(--basic-black);
	border-bottom: 2px solid var(--basic-red);
	opacity: 0.3;
}
.basket-navigation:active{
	padding: 0;
	margin: 0;
	color: var(--basic-black);
	border-bottom: 2px solid var(--basic-red);
	opacity: 0.3;
}
.navigation-border{
	border-bottom: 2px solid var(--basic-red);
}
.navigation-border:hover{
	list-style: none;
}
.basket{
	padding-right: 25px;
	margin: 0;
}
.logo-img:hover{
	opacity: 0.7;
}
.main-header,
.job-img,
.job-inf{
	background-color: var(--basic-extra-white);
}
.job-inf h1{
	font-size: 55px;
	line-height: 55px;
	color: var(--basic-black);
}
.job-inf{
	align-self: center;
}
.job-img{
	justify-self: end;
}
.page-header{
	display: grid;
	grid-template-columns: 1fr max-content;
	width: 1160px;
	justify-self: center;
	margin: 0 auto;
	padding: 0;
}
.box-ability{
	display: grid;
	list-style: none;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 100px;
	width: 1100px;
	justify-self: center;
	margin: 0 auto;
	padding: 0;
	margin-top: 76px;
	margin-bottom: 121px;
	column-gap: 100px;
}
.box-ability h2{
	font-size: 24px;
	line-height: 30px;
	color: var(--basic-black);
}
.inf{
	display: grid;
	grid-template-columns: 2fr 1fr;
	width: 1170px;
	justify-self: center;
	padding: 0;
	margin: 0 auto;
}
.achievements{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	list-style: none;
	padding: 0;
	margin: 0;
}
.inf h2{
	font-size: 45px;
	line-height: 45px;
}
.results{
	justify-self: end;
	margin: 0;
	padding: 0;
}
.main-about-us{
	margin-top: 40px;
	margin-bottom: 23px;
}
.aboutus li{
	margin-top: 46px;
}
.results p{
	font-size: 16px;
	line-height: 18px;
}
.results h3{
	font-size: 45px;
	line-height: 64px;
	font-weight: bold;
	color: var(--basic-black);
}
.results h4{
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	color: var(--basic-black);
}
.map{
	justify-self: center;
	width: 100%;
	height: 416px;
}
.contacts h3{
	font-size: 18px;
	line-height: 30px;
	color: var(--basic-black);
}
.partners{
	color: var(--basic-black);
	width: 1160px;
	margin: 0 auto;
	padding: 0;
	display: flex;
	justify-content: space-around;
	justify-self: center;
	margin-top: 73px;
	margin-bottom: 80px;
	align-items: center;
}
.partners-link:hover, .partners-link:focus{
	background-color: var(--basic-black);
}
.contacs p{
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-grey);
}
.cellar h2{
	font-size: 36px;
	line-height: 36px;
	color: var(--basic-black);
}
.cellar p{
	font-size: 16px;
	line-height: 22px;
}
.communication h2{
	font-size: 45px;
	line-height: 53px;
	color:var(--basic-black);
}
.communication p{
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-black);
	font-weight: bold;
}
.communication input{
	width: 360px;
	height: 50px;
	font: inherit;
	background-color: transparent;
	border: 2px solid var(--basic-lite-grey);
	border-radius: 3px;
}
.communication textarea{
	font: inherit;
	background-color: transparent;
	border: 2px solid var(--basic-lite-grey);
	border-radius: 3px;
}
.communication input:focus, textarea:focus{
	border-color: var(--basic-black);
}
button{
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	vertical-align: middle;
	color: var(--basic-white);
	text-transform: uppercase;
	background-color: var(--basic-red);
	border: none;
	border-radius: 3px;
}
button:hover,
button:focus{
	background: var(--basic-extra-red);
}
button:active{
	background: var(--basic-super-red);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	color: var(--basic-white);
	opacity: 0.3;
}
.job-btn{
	width: 240px;
	height: 50px;
	margin: 38px 0px;
	padding: 0 0;
}
.button-web{
	width: 160px ;
	height: 50px;
}
.button-app{
	width: 160px;
	height: 50px;
	background: var(--basic-light-green);
}
.button-app:hover, .button-app:focus{
	background: var(--basic-green);
}
.button-presentation{
	width: 160px;
	height: 50px;
	background: var(--basic-yellow);
}
.button-presentation:hover, .button-presentation:focus{
	background: var(--basic-light-yellow);
}
.write-btn{
	width: 219px;
	height: 50px;
}
.send-btn{
	width: 259px;
	height: 50px;
}
.button-close{
	width: 21px;
	height: 21px;
	background: rgba(251, 86, 90, 0.3);
}
.cellar{
	display: grid;
	grid-template-columns: 1fr max-content;
	width: 1170px;
	margin-top: 68px;
	margin-bottom: 68px;
	align-items: center;
	justify-self: center;
}
/*поставить фон на иконки соц.сетей*/
.center-cellar{
	list-style:none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 0;
	padding: 0;
	justify-self: start;
	column-gap: 9px;
	background-color: var(--basic-networks-grey);
}
.social-networks-vk{
	color: var(--basic-white);
	width: 26px;
	height: 15px;
}
.social-networks-fb{
	color:var(--basic-white);
	width: 12px;
	height: 22px;
	margin-left: 10px;
}
.social-networks-inst{
	color: var(--basic-white);
	width: 21px;
	height: 21px;
	margin-left: 10px;
}
.tagline{
	justify-self: center;
	margin: 0;
	padding: 0;
	margin-right: 240px;
}
.social-networks-vk:hover,
.social-networks-fb:hover,
.social-networks-inst:hover,
.social-networks-vk:focus,
.social-networks-fb:focus,
.social-networks-inst:focus
{
	background: linear-gradient(0deg, var(--basic-extra-red), var(--basic-extra-red)), var(--basic-white);
}
/*КАТАЛОГ*/
.catalog-container{
	display: grid;
	width: 1160px;
	justify-self: center;
}
.center-catalog-container{
	display: grid;
	grid-template-columns: 260px 1fr;
}
.center-directory-sites{
	margin-left: 141px;
}
.center-sort{
	display: grid;
	grid-template-columns: 1fr max-content;
	margin-top: 55px ;
	margin-bottom: 48px;
}
.sort a{
	margin-left: 10px;
}
.net,
.features{
	margin: 0 0;
	padding: 0 0;
	list-style: none;
	border: 0px;
}
.net-radio,
.features-checkbox{
	margin: 0 0;
	padding: 0 0;
	list-style: none;
}
.radio-indentation,
.checkbox-indentation{
	margin-right: 11px;
}
.price-btn{
	width: 200px;
	height: 50px;
}
.net{
	margin-top: 54px;
}
.net-radio li{
	margin-top: 15px ;
}
.features{
	margin-top: 43px;
}
.features-checkbox li{
	margin-top: 17px;
}
.journal{
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	color: var(--basic-black);
	text-align: center;
	margin-bottom: 108px;
}
legend{
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	color: var(--basic-black);
	text-transform: uppercase;
}
.catalog-container input{
	font-size: 16px;
	line-height: 20px;
}
.choose-btn{
	width: 260px;
	height: 50px;
	font: inherit;
	color: var(--basic-black);
	background: var(--basic-extra-white);
	border-radius: 3px;
	margin-top: 48px;
}
.choose-btn:hover,
 .choose-btn:focus,
 .pagination-btn:hover,
 .pagination-btn:focus
 {
	background: var(--basic-strange-white);
}
.choose-btn:active,
.pagination-btn:active{
	background: var(--basic-main-white);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	color: var(--basic-black);
	opacity: 0.3;
}
.net, .features{
	list-style: none;
	line-height: 20px;
}
.sort-label{
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}
.sort{
	display: flex;
	justify-self: end;
	align-self: center;
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-black);
	list-style: none;
}
.directory-sites{
	display: flex;
	flex-wrap: wrap;
	width: 760px;
	justify-content: space-between;
	list-style: none;
	margin: 0 auto;
	padding: 0;
}
.inf-product{
	background-color: var(--basic-extra-white);
	width: 360px;
	height: 231px;
	text-align: center;
	padding-top: 26px;
}
.directory-sites li{
	min-width: 358px;
	min-height: 578px;
}
.name-product{
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	color: var(--basic-black);
}
.description-product{
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-grey);
}
.pagination-list ul{
	list-style: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-black);
}
.page-numbers{
	display: flex;
	grid-column: 1 / -1;
	justify-self: start;
	margin-top: 55px;
	margin-bottom: 60px;
}
.page-numbers li{
	margin-right: 10px;
	align-self: center;
}
.pagination-btn{
	width: 260px;
	height: 50px;
	color: var(--basic-black);
	background-color: var(--basic-extra-white);
}
.page{
	height: 100%;
}
.numbers-link{
	padding: 15px 20px;
	border-radius: 3px;
	background-color: var(--basic-extra-white);
}
.numbers-link:hover,
.numbers-link-next:hover{
	background: #DFDFDF;
}
.numbers-link:active,
.numbers-link-next:active{
	background: #D5D5D5;
	color: var(--basic-black);
	opacity: 0.3;
}
.number-link-now{
	padding: 15px 20px;
	border: 3px solid #DBDBDB;
	box-sizing: border-box;
	border-radius: 3px;;
}
.numbers-link-next{
	padding: 15px 77px;
	border-radius: 3px;
	background-color: var(--basic-extra-white);
}
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}
